<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if current_page.url == "/" %>
      <title>Welkom bij Hop! into the Grain Craft Beer & Music Festival 2019</title>
    <% else %>
      <title><%= current_page.data.title %> | Hop! into the Grain Craft Beer & Music Festival</title>
    <% end %>
    <meta name="description" content="<%= h(meta_description) %>">
    <meta name="robots" content="<%= robots %>">
    <%= partial "open-graph" -%>
    <%= partial "favicon" -%>
    <%= stylesheet_link_tag "main" %>
    <%= partial "analytics" unless development? %>
  </head>
  <body class="<%= page_classes %>">
    <div class="main" role="main">
      <%= partial "header" %>
      <%= yield %>
      <%= partial "footer" %>
    </div>
    <%= javascript_include_tag "site" %>
    <%= javascript_include_tag "date-countdown.js" if current_page.url == "/" %>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDomyV2iFDDiyyW1QCmQBWcaGrgycgQAf0&v=3.exp'></script>

    <%= partial "schema" %>
  </body>
</html>
