<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      <% if current_page.url == "/" %>
        Hop! into the Grain - Craft Beer & Music Festival - MAY 26th, 2018 - Groningen
      <% else %>
        <%= current_page.data.title %> | Hop! into the Grain 2018
      <% end %>
    </title>
    <meta name="description" content="<%= h(meta_description) %>">
    <meta name="robots" content="<%= robots %>">
    <%= partial "favicon" -%>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="main" role="main">
      <%= partial "header" %>
      <%= yield %>
      <%= partial "footer" %>
    </div>
    <%= javascript_include_tag "site" %>
    <%= javascript_include_tag "date-countdown.js" if current_page.url == "/" %>
  </body>
</html>
