<header class="banner <%= variant %> <%= locals[:variant_overlay] %>" role="banner" style="background-image: url(<%= image_path(locals[:background_image] || "banner-default.jpg") %>)" id="<%= locals[:id] %>">

  <% if locals[:title] || locals[:text] || (locals[:button_link] && locals[:button_text]) %>
    <div class="grid-row">

      <% if locals[:svg_image] %>
        <%= inline_svg svg_image, alt: title, class: "banner-image" %>
      <% elsif locals[:png_image] %>
        <%= image_tag png_image, alt: title, class: "banner-image" %>
      <% else %>
        <%= content_tag title_tag ||= :h1, class: "title" do title end %>
      <% end %>

      <% if locals[:link] && locals[:link_text] %>
        <%= link_to link_text, link %>
      <% end %>

      <% if locals[:text] %>
        <p class="text">
          <%= text %>
        </p>
      <% end %>

      <% if locals[:date] %>
        <p class="text">
          <%= date %>
        </p>
      <% end %>

      <% if locals[:location] %>
        <p class="text">
          <%= location %>
        </p>
      <% end %>

      <% if locals[:button_link] && locals[:button_text] %>
        <%= partial "partials/button", locals: { to: button_link,
                                                 text: button_text,
                                                 variant: button_variant } %>
      <% end %>

    </div>
  <% end %>
</header>
