<nav class="site-navigation" role="navigation">

  <a id="mobile-toggle" class="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <div class="navigation-bar">
    <ul class="menu">
      <li>
        <%= current_link_to t("navigation.index"), "#home", class: "root-link", data: "data-scroll-to" %>
      </li>
      <li>
        <%= current_link_to t("navigation.contact"), "#contact", class: "root-link", data: "data-scroll-to"  %>
      </li>
      <li>
        <% if lang == :nl %>
          <a href="/en/" class="language-link">
            <%= inline_svg "en.svg", alt: "English" %>
            <span>English</span>
          </a>
        <% elsif lang == :en %>
          <a href="/" class="language-link">
            <%= inline_svg "nl.svg", alt: "Nederlands" %>
            <span>Nederlands</span>
          </a>
        <% end %>
      </li>
    </ul>
    <%= partial "partials/social-links" %>
  </div>
</nav>
