<nav class="site-navigation" role="navigation" data-header="fixed">

  <a id="mobile-toggle" class="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <div class="navigation-bar">
    <ul class="menu">
      <li>
        <%= current_link_to t("navigation.index"), "#home", class: "root-link active", data: "scroll-to" %>
      </li>
      <li>
        <%= current_link_to t("navigation.about"), "#about", class: "root-link", data: "scroll-to"  %>
      </li>
      <li>
        <%= current_link_to t("navigation.bands"), "#bands", class: "root-link", data: "scroll-to"  %>
      </li>
      <li>
        <%= current_link_to t("navigation.breweries"), "#breweries", class: "root-link", data: "scroll-to"  %>
      </li>
      <li>
        <%= current_link_to t("navigation.tickets"), "#tickets", class: "root-link", data: "scroll-to"  %>
      </li>
      <li>
        <%= current_link_to t("navigation.info"), "#info", class: "root-link", data: "scroll-to"  %>
      </li>
      <li>
        <%= current_link_to t("navigation.contact"), "#contact", class: "root-link", data: "scroll-to"  %>
      </li>
      <li>
        <% if lang == :nl %>
          <a href="/en/" class="language-link root-link">
            <%= inline_svg "en.svg", alt: "English" %>
            <span>English</span>
          </a>
        <% elsif lang == :en %>
          <a href="/" class="language-link root-link">
            <%= inline_svg "nl.svg", alt: "Nederlands" %>
            <span>Nederlands</span>
          </a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
