---
description:
  nl: "Welkom bij HOP! Into the Grain Craft Beer & Music Festival"
  en: "Welcome to HOP! Into the Grain Craft Beer & Music Festival"
sitemap_priority: 1
blog: menu
---

<%= partial "partials/banner", locals: { id: "home",
                                         variant: "variant-big",
                                         background_image: "banner-homepage.jpg",
                                         png_image: "logo-hop-into-the-grain-festival.png",
                                         title: t("pages.index.banner.title"),
                                         location: t("pages.index.banner.location"),
                                         date: t("pages.index.banner.date")} %>

<section class="introduction single-column" id="about">
  <div class="grid-row">
    <%= partial "homepage/informatie" %>
  </div>
</section>

<section class="bands" id="bands">
  <div class="grid-row">
    <h2><%= t("sections.bands.title") %></h2>

    <div class="flex-wrapper">

      <div class="flex-item">
        <div class="item-image border-white">
          <%= image_tag "assets/images/bands/electric-hollers.jpg", alt: "Electric Hollers" %>
        </div>
        <div class="item-text">
          <h3>
            Electric Hollers
          </h3>
          <p>
            <%= t("sections.bands.electric-hollers.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-white">
          <%= image_tag "assets/images/bands/10000v.jpg", alt: "10.000 Volt Blues Band" %>
        </div>
        <div class="item-text">
          <h3>
            10.000 Volt Blues Band
          </h3>
          <p>
            <%= t("sections.bands.volt.text") %>
          </p>
        </div>
      </div>

      <p class="more">
        <em><%= t("sections.bands.more") %></em>
      </p>

    </div>
  </div>
</section>

<section class="breweries" id="breweries">
  <div class="grid-row">
    <h2><%= t("sections.breweries.title") %></h2>

    <div class="flex-wrapper">

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/stanislaus-brewskovitch.png", alt: "Stanislaus Brewskovitch" %>
        </div>
        <div class="item-text">
          <h3>
            Stanislaus Brewskovitch
          </h3>
          <p>
            <%= t("sections.breweries.stanislaus.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/berging-brouwerij.png", alt: "Berging Brouwerij" %>
        </div>
        <div class="item-text">
          <h3>
            Berging Brouwerij
          </h3>
          <p>
            <%= t("sections.breweries.berging.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/brouwerij-klein-duimpje.png", alt: "Brouwerij Klein Duimpje" %>
        </div>
        <div class="item-text">
          <h3>
            Brouwerij Klein Duimpje
          </h3>
          <p>
            <%= t("sections.breweries.klein-duimpje.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/nevel-artisan-ales.png", alt: "Nevel Artisan Ales" %>
        </div>
        <div class="item-text">
          <h3>
            Nevel Artisan Ales
          </h3>
          <p>
            <%= t("sections.breweries.nevel.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/doggerland.png", alt: "Doggerland Craft Cider" %>
        </div>
        <div class="item-text">
          <h3>
            Doggerland Craft Cider
          </h3>
          <p>
            <%= t("sections.breweries.doggerland.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/vandestreek.png", alt: "VandeStreek" %>
        </div>
        <div class="item-text">
          <h3>
            VandeStreek
          </h3>
          <p>
            <%= t("sections.breweries.vandestreek.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/kaiju.png", alt: "KAIJU Beer" %>
        </div>
        <div class="item-text">
          <h3>
            KAIJU Beer
          </h3>
          <p>
            <%= t("sections.breweries.kaiju.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/moon-dog.png", alt: "Moon Dog Craft Brewery" %>
        </div>
        <div class="item-text">
          <h3>
            Moon Dog Craft Brewery
          </h3>
          <p>
            <%= t("sections.breweries.moon-dog.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/frontaal.png", alt: "Frontaal" %>
        </div>
        <div class="item-text">
          <h3>
            Frontaal
          </h3>
          <p>
            <%= t("sections.breweries.frontaal.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/diggelfjoer.png", alt: "Diggelfjoer" %>
        </div>
        <div class="item-text">
          <h3>
            Diggelfjoer
          </h3>
          <p>
            <%= t("sections.breweries.diggelfjoer.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/de-prael.png", alt: "De Prael" %>
        </div>
        <div class="item-text">
          <h3>
            De Prael
          </h3>
          <p>
            <%= t("sections.breweries.de-prael.text") %>
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image border-light-gray">
          <%= image_tag "assets/images/breweries/eggens.png", alt: "Eggens" %>
        </div>
        <div class="item-text">
          <h3>
            Eggens
          </h3>
          <p>
            <%= t("sections.breweries.eggens.text") %>
          </p>
        </div>
      </div>

      <p class="more">
        <em><%= t("sections.breweries.more") %></em>
      </p>


    </div>
  </div>
</section>

<section class="tickets" id="tickets">
  <div class="grid-row">

    <div class="headline">
      <h2><%= t("sections.tickets.title") %></h2>

      <p><%= t("sections.tickets.text") %></p>
    </div>

    <h3>Online</h3>
    <p>Early Beer €10,00 (+ €0,99 <%= t("sections.tickets.service") %>)</p>
    <p>Normaal €12,50 (+ €0,99 <%= t("sections.tickets.service") %>)</p>

    <div class="buy-now">
      <a href="https://www.yourticketprovider.nl/events/28950-hop-into-the-grain/" class="button big orange">
        <%= t("sections.tickets.buy-now") %>
      </a>
    </div>

    <h3>Offline</h3>
    <p>Hard Copy ticket @ Just in Beer €12,50</p>
    <p><%= t("sections.tickets.door-price") %> €14,00</p>

  </div>
</section>

<section class="extra-info" id="info">
  <div class="grid-row">
    <h2><%= t("sections.extra-info.title") %></h2>

    <p>
      => <%= t("sections.extra-info.line-1") %><br>
      => <%= t("sections.extra-info.line-2") %><br>
      => <%= t("sections.extra-info.line-3") %>
    </p>

  </div>
</section>

<section class="social" id="social">
  <div class="grid-row">
    <h2><%= t("sections.social.title") %></h2>
    <%= partial "partials/social-links" %>
  </div>
</section>

<section class="form" id="contact">
  <div class="grid-row form-grid-row">
    <h2><%= t("sections.contact.title") %></h2>
    <%= partial "partials/form", locals: { name: "contact",
                                           fields: ["name", "email", "message"],
                                           button_text: t("form.submit"),
                                           button_variant: "bordeaux"} %>
  </div>
</section>

<%= partial "partials/maps" %>
