---
description:
  nl: "Dé speciaalbierwinkel van Groningen met het grootste en beste assortiment. Wij zijn geopend van dinsdag t/m zondag."
  en: "The craft beer store in Groningen with the largest and best collection of beer. We are open from Tuesday to Sunday."
sitemap_priority: 1
blog: menu
---

<%= partial "partials/banner", locals: { id: "home",
                                         variant: "variant-big",
                                         background_image: "banner-homepage.png",
                                         png_image: "logo-hop-into-the-grain-festival.png",
                                         title: t("pages.index.banner.title"),
                                         location: t("pages.index.banner.location"),
                                         date: t("pages.index.banner.date")} %>

<section class="introduction single-column" id="about">
  <div class="grid-row">
    <%= partial "homepage/informatie" %>
  </div>
</section>

<section class="bands" id="bands">
  <div class="grid-row">
    <h2><%= t("sections.bands.title") %></h2>

    <div class="flex-wrapper">

      <div class="flex-item">
        <div class="item-image">
          <%= image_tag "assets/images/bands/electric-hollers.jpg", alt: "Electric Hollers" %>
        </div>
        <div class="item-text">
          <h3>
            Electric hollers
          </h3>
          <p>
            Electric Hollers staat voor een nieuwe generatie  blues en rock artiesten uit Noord-Nederland. De band laat zich inspireren door bands als Led Zeppelin, Santana & Ten Years After en bracht in 2018 hun eerste plaat ‘Rise’ uit.
          </p>
        </div>
      </div>

      <div class="flex-item">
        <div class="item-image">
          <%= image_tag "assets/images/bands/electric-hollers.jpg", alt: "Electric Hollers" %>
        </div>
        <div class="item-text">
          <h3>
            Electric Hollers
          </h3>
          <p>
            Electric Hollers staat voor een nieuwe generatie  blues en rock artiesten uit Noord-Nederland. De band laat zich inspireren door bands als Led Zeppelin, Santana & Ten Years After en bracht in 2018 hun eerste plaat ‘Rise’ uit.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="breweries" id="breweries">
  <div class="grid-row">
    <h2><%= t("sections.breweries.title") %></h2>
  </div>
</section>

<section class="tickets" id="tickets">
  <div class="grid-row">
    <h2><%= t("sections.tickets.title") %></h2>
  </div>
</section>

<section class="extra-info" id="info">
  <div class="grid-row">
    <h2><%= t("sections.extra-info.title") %></h2>
  </div>
</section>

<section class="form" id="contact">
  <div class="grid-row form-grid-row">
    <h2><%= t("sections.contact.title") %></h2>
    <%= partial "partials/form", locals: { name: "contact",
                                           fields: ["name", "email", "message"],
                                           button_text: t("form.submit"),
                                           button_variant: "bordeaux"} %>
  </div>
</section>

<%= partial "partials/maps" %>
