---
title: Welkom bij het Hop! into the Grain Craft Beer & Music Festival
description: "Het nieuwste bierfestival van Groningen: Hop! into the Grain Craft Beer & Music Festival."
---

<section class="hero">
  <div class="row">
    <%= image_tag("logo-hop-into-the-grain-big.png") %>
    <h2>
      <span>26 mei 2018, 12:00 - 01:30</span>
      <span>EM2 "the barn", Groningen</span>
    </h2>
    <a class="button big orange" href="https://frontoffice.paylogic.nl/?event_id=122408&point_of_sale_id=17537" target="_blank">
      Tickets &raquo;
    </a>
    <p>
      Of koop je tickets bij Just in Beer.
    </p>
  </div>
</section>

<section class="counter">
  <div class="row">

    <h2>Aftellen...</h2>

    <p>
      Hoe lang nog tot Hop! into the Grain Festival begint?
    </p>

    <div class="counter-wrapper" id="timer">

    </div>

  </div>
</section>

<section class="featured-line-up">
  <div class="row">

    <h2>
      Line-up
    </h2>

    <p>
      Proef een breed scala aan geweldig Nederlands craft beer en geniet van het luisteren naar live muziek.
    </p>

    <div class="line-up-wrapper">
      <div class="line-up-block">
        <%= image_tag "line-up/het-uiltje.png", alt: "Brouwerij Het Uiltje", title: "Brouwerij Het Uiltje" %>
      </div>
      <div class="line-up-block">
        <%= image_tag "line-up/rockin-ludina.png", alt: "Brouwerij Rockin' Ludina", title: "Brouwerij Rockin' Ludina" %>
      </div>
      <div class="line-up-block">
        <%= image_tag "line-up/jopen.png", alt: "Brouwerij Jopen", title: "Brouwerij Jopen" %>
      </div>
      <div class="line-up-block">
        <%= image_tag "line-up/frontaal.png", alt: "Brouwerij Frontaal", title: "Brouwerij Frontaal" %>
      </div>
    </div>

    <a href="/line-up/" class="button big orange">Bekijk volledige line-up</a>

  </div>
</section>

<%= partial "playlist", locals: { height: "80" } %>

<%= partial "maps" %>
