---
title: Line-up
description: Op dit Groningse bier- en muziekfestival geven onder andere Magnetic Spacemen, Brouwerij Jopen, Meadowlake, Brouwerij Het Uiltje en Brouwerij Rockin' Ludina acte de presence.
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Line-up
      </span>
    </h1>
  </div>
</section>

<section class="line-up-nav">
  <div class="row">
    <div class="line-up-nav-wrapper" id="line-up-sort">
      <ul>
        <li class="filter">
          <a class="active" id="all">ALLES</a>
        </li>
        <li class="filter">
          <a data-cat="beer">BIER</a>
        </li>
        <li class="filter">
          <a data-cat="band">BANDS</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="line-up-overview">
  <div class="row">
    <div class="line-up-wrapper" id="line-up-content">

      <div class="line-up-item" data-cat="band">
        <%= image_tag "line-up/magnetic-spacemen.png", alt: "Magnetic Spacemen", title: "Magnetic Spacemen" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/MAGNETIC-SPACEMEN-247251198783973/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.magneticspacemen.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/het-uiltje.png", alt: "Brouwerij Het Uiltje", title: "Brouwerij Het Uiltje" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/hetuiltje/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="https://www.uiltjecraftbeer.com/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag "line-up/the-lay.png", alt: "The Lay", title: "The Lay" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/music.thelay/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://thelay.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/jopen.png", alt: "Brouwerij Jopen", title: "Brouwerij Jopen" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/JopenBier/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="https://www.jopenbier.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>

      <div class="line-up-item" data-cat="band">
        <%= image_tag "line-up/model-depose.png", alt: "Model Depose", title: "Model Depose" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/modeldepose" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.modeldepose.com/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/frontaal.png", alt: "Brouwerij Frontaal", title: "Brouwerij Frontaal" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/BrouwerijFrontaal/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.brouwerijfrontaal.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag "line-up/rum-and-skunk.png", alt: "Rum and Skunk", title: "Rum and Skunk" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/rumenskunk" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.rumenskunk.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/ciderwinkel.png", alt: "Ciderwinkel", title: "Ciderwinkel" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/Ciderwinkel" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="https://www.ciderwinkel.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>

      <div class="line-up-item" data-cat="band">
        <%= image_tag "line-up/rammerick.png", alt: "Merrick plays Rammstein", title: "Merrick plays Rammstein" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/merrickband/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://vorro.nl/merrick/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/oproer.png", alt: "Oproer Brouwerij", title: "Oproer Brouwerij" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/oproerbrouwerij/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.oproerbrouwerij.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag "line-up/ginger-likes.png", alt: "Ginger Likes", title: "Ginger Likes" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/gingerlikes.sleazerock/" class="icon-facebook" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/de-kromme-haring.png", alt: "Brouwerij De Kromme Haring", title: "Brouwerij De Kromme Haring" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/dekromme.haring/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.dekrommeharing.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>

      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/rockin-ludina.png", alt: "Brouwerij Rockin' Ludina", title: "Brouwerij Rockin Ludina'" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/RockinLudinaBrewery/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.rockinludinabrewery.com/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag "line-up/meadowlake.png", alt: "Meadowlake", title: "Meadowlake" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/meadowlakeband/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://meadowlake.bandcamp.com/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/martinus.png", alt: "Brouwerij Martinus", title: "Brouwerij Martinus" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/Brouwerijmartinus/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.brouwerijmartinus.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/bax.png", alt: "Baxbier", title: "Baxbier" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/baxbier/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.baxbier.com/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>

      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/pivo.png", alt: "Brouwerij Pivo", title: "Brouwerij Pivo" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/pivobrouwers/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://www.pivo.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/eggens.png", alt: "Brouwerij Eggens", title: "Brouwerij Eggens" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/Eggens-262041450932462/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://eggensbier.com/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/brouwerij-groninger.png", alt: "Brouwerij Groninger", title: "Brouwerij Groninger" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/groningerbier" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://groningerbier.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag "line-up/noarder-dragten.png", alt: "Noarder Dragten", title: "Noarder Dragten" %>
        <ul>
          <li>
            <a href="https://www.facebook.com/bierbrouwerijnoarderdragten/" class="icon-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="http://bierbrouwerijnoarderdragten.nl/" class="icon-link" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%= partial "playlist", locals: { height: "360" } %>

<%= partial "ticket"  %>
