---
title: Line-up
description: Op de line-up staan onder andere Magnetic Spacemen, Jopen, Meadowlake en De Moersleutel. Bekijk de rest van de line-up.
---

<section class="hero">
  <div class="row">
    <h1>
      <span>
        Line-up
      </span>
    </h1>
  </div>
</section>

<section class="line-up-nav">
  <div class="row">
    <div class="line-up-nav-wrapper" id="line-up-sort">
      <ul>
        <li class="filter">
          <a class="active" id="all">ALLES</a>
        </li>
        <li class="filter">
          <a data-cat="beer">BIER</a>
        </li>
        <li class="filter">
          <a data-cat="band">BANDS</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="line-up-overview">
  <div class="row">
    <div class="line-up-wrapper" id="line-up-content">

      <div class="line-up-item" data-cat="band">
        <%= image_tag("line-up/magnetic-spacemen.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/het-uiltje.png") %>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag("line-up/the-lay.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/de-moersleutel.png") %>
      </div>

      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/jopen.png") %>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag("line-up/model-depose.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/frontaal.png") %>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag("line-up/rum-and-skunk.png") %>
      </div>

      <div class="line-up-item" data-cat="band">
        <%= image_tag("line-up/rammerick.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/oproer.png") %>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag("line-up/ginger-likes.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/de-kromme-haring.png") %>
      </div>

      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/rockin-ludina.png") %>
      </div>
      <div class="line-up-item" data-cat="band">
        <%= image_tag("line-up/meadowlake.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/martinus.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/bax.png") %>
      </div>

      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/pivo.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/eggens.png") %>
      </div>
      <div class="line-up-item" data-cat="beer">
        <%= image_tag("line-up/brouwerij-groninger.png") %>
      </div>
    </div>
  </div>
</section>

<%= partial "ticket" %>
