---
title: Line-up
description: Check hier de beer, music & food line-ups
---

<section class="hero">
  <div class="row">
    <h1>Line up</h1>
  </div>
</section>

<section class="line-up-nav">
  <div class="row">
    <nav class="line-up-nav-wrapper">
      <ul>
        <li>
          <a href="#" class="active">ALL</a>
        </li>
        <li>
          <a href="#">BEER</a>
        </li>
        <li>
          <a href="#">MUSIC</a>
        </li>
        <li>
          <a href="#">FOOD</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="line-up-wrapper">

      <div class="line-up-block">
        <%= image_tag("line-up/de-moersleutel.png") %>
        <h3>
          De Moersleutel
        </h3>
      </div>

      <div class="line-up-block">
        <%= image_tag("line-up/frontaal.png") %>
        <h3>
          Frontaal
        </h3>
      </div>

      <div class="line-up-block">
        <%= image_tag("line-up/jopen.png") %>
        <h3>
          Jopen
        </h3>
      </div>

      <div class="line-up-block">
        <%= image_tag("line-up/het-uiltje.png") %>
        <h3>
          Het Uiltje
        </h3>
      </div>

      <div class="line-up-block">
        <%= image_tag("line-up/jopen.png") %>
        <h3>
          Jopen
        </h3>
      </div>

      <div class="line-up-block">
        <%= image_tag("line-up/frontaal.png") %>
        <h3>
          Frontaal
        </h3>
      </div>

      <div class="line-up-block">
        <%= image_tag("line-up/de-moersleutel.png") %>
        <h3>
          De Moersleutel
        </h3>
      </div>

      <div class="line-up-block">
        <%= image_tag("line-up/het-uiltje.png") %>
        <h3>
          Het Uiltje
        </h3>
      </div>

    </div>
  </div>
</section>
